# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\year 2 period 4\TestingTravisCI\travis-ci-pytest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
